@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'mytheme';
  default: true;
  --color-primary: #403f3f;
  --color-secondary: #d72050;

  --color-base-200: #706f6f;
  --color-base-300: #403f3f;
}

* {
  font-family: 'Poppins', sans-serif;
}
